# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environments
.env
.envrc
.venv/
venv/
env/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml

# Celery
celerybeat-schedule
celerybeat.pid

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker volumes
pgdata/

# Paquetes de deploy
*.zip

# Type checkers
.mypy_cache/
.ruff_cache/
.pytype/
.pyre/

# Logs
*.log
