# Entorno
.env
.venv/
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker volumes
pgdata/

# Build
*.egg-info/
build/

# Paquetes de deploy
*.zip
